<section class="container py-5">
  <div class="row align-items-center">
    <div class="col-md-4 text-center mb-3 mb-md-0">
      <img src="https://media.istockphoto.com/id/1079547122/es/vector/edificio-moderno-simple.jpg?s=612x612&w=0&k=20&c=IivB36tIGPDnUUOnSv6SxiEjExf9EXy3IOtOxa63y7o=" alt="Imagen circular" class="img-fluid rounded-circle" style="width: 100px; height: 100px; object-fit: cover;">
    </div>

    <div class="col-md-8">
      <h2><strong>Esta es tu gran oportunidad</strong> <span class="text-secondary"></span></h2>
      <p>
        Si has decidido, que quieres conocer el mundo, nostros te podemos ayudar a encontrar las mejores ofertas de hoteles, coches de alquiler y actividades. No lo dejes escapar
      </p>
    </div>
  </div>
</section>