
  <section class="d-flex align-items-center text-center text-dark" 
         style="background-image: url('https://www.shutterstock.com/image-photo/sunset-porthole-window-on-airplane-600nw-2578435047.jpg'); background-size: cover; background-position: center; height: 20vh;">
  <div class="container">
    <div class="bg-white d-inline-block px-4 py-2 rounded">
      <h1 class="display-4 fw-bold m-0">Agencia de Viajes</h1>
    </div>
    <div class="bg-white d-inline-block px-4 py-1 rounded mt-3">
      <p class="lead m-10">Tu próximo destino empieza aquí</p>
    </div>
  </div>
</section>


